/* Style imports (Every partial imported into here will be available app-wide) */
:root {
  --color-white: #fff;
  --color-black: #000; }

.hidden {
  visibility: hidden; }

.svg {
  height: 14rem;
  width: 14rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 2rem;
  font-family: "Judson", serif;
  color: #0b1731;
  background: linear-gradient(to right, #65d7db, #dba786, #99db91);
  background-size: 200%;
  background-position: 0% 0%;
  transition: background-position 0.5s; }

.active-player--0 {
  background-position: 0% 0%; }

.active-player--1 {
  background-position: 100% 0%; }

.player__name {
  font-family: 'Quando', serif;
  font-size: 2.4rem; }

.player__score {
  font-size: 6.2rem; }

.current__label {
  font-family: 'Quando', serif;
  font-size: 2rem; }

.current__score {
  font-size: 4.8rem; }

.die {
  fill: #0b1731; }
  .die__dot {
    fill: #eee6d2; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(238, 230, 210, 0.5);
  border: 1rem solid #eee6d2;
  border-radius: 20px;
  position: relative; }

.player {
  padding: 5rem 7.5rem;
  text-align: center; }
  .player__score {
    margin-top: 1rem; }
  .player--active {
    background-color: rgba(238, 230, 210, 0.8); }

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  border-radius: 5px;
  margin-top: 6rem; }
  .current--0 {
    border: 1rem solid #65d7db;
    background-color: rgba(101, 215, 219, 0.8); }
  .current--1 {
    border: 1rem solid #99db91;
    background-color: rgba(153, 219, 145, 0.8); }
  .current__label {
    margin-bottom: 1rem; }

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .controls__dice {
    margin: 5rem 0; }
  .controls__hold {
    margin-top: 1rem; }

.btn {
  border: none;
  outline: none;
  background-color: rgba(238, 230, 210, 0.8);
  padding: 1rem 2rem;
  border-radius: 15px; }
