:root {
  --color-white: #fff;
  --color-black: #000; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: "Judson", serif;
  color: #000;
  background-color: #dba786; }
