html {
  box-sizing: border-box; // Border-box is always good
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // Now everything will inherit border-box from html above
}

body {
  // Set the default font styles, colors, etc.
  font-size: 2rem;
  font-family: $font-text;
  color: $color-black;

  background: linear-gradient(
    to right,
    $color-player-one,
    $color-primary-light,
    $color-player-two
  );
  background-size: 200%;

  background-position: 0% 0%;
  transition: background-position 0.5s;
}

.active-player {
  &--0 {
    background-position: 0% 0%;
  }
  &--1 {
    background-position: 100% 0%;
  }
}
