body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  background-color: rgba($color: $color-white, $alpha: 0.5);
  border: 1rem solid $color-white;
  border-radius: 20px;

  position: relative; // For the controls
}

.player {
  padding: 5rem 7.5rem;
  text-align: center;

  &__name {
  }

  &__score {
    margin-top: 1rem;
  }

  &--active {
    background-color: rgba($color: $color-white, $alpha: 0.8);
  }
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  border-radius: 5px;

  margin-top: 6rem;

  &--0 {
    border: 1rem solid $color-player-one;
    background-color: rgba($color: $color-player-one, $alpha: 0.8);
  }
  &--1 {
    border: 1rem solid $color-player-two;
    background-color: rgba($color: $color-player-two, $alpha: 0.8);
  }

  &__label {
    margin-bottom: 1rem;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__new-game {
  }
  &__dice {
    margin: 5rem 0;
  }
  &__roll-dice {
  }
  &__hold {
    margin-top: 1rem;
  }
}

.btn {
  border: none;
  outline: none;
  background-color: rgba($color: $color-white, $alpha: 0.8);
  padding: 1rem 2rem;
  border-radius: 15px;
}
