// font-family: 'Judson', serif;
// font-family: 'Quando', serif;

.player__name {
  font-family: 'Quando', serif;
  font-size: 2.4rem;
}

.player__score {
  font-size: 6.2rem;
}

.current__label {
  font-family: 'Quando', serif;
  font-size: 2rem;
}

.current__score {
  font-size: 4.8rem;
}

.btn {
  font-family: 'Quando', serif;
  font-size: 1.8rem;
  color: $color-white;
}
