:root {
  --color-white: #fff;
  --color-black: #000;
}

// font-family: 'Judson', serif;
// font-family: 'Quando', serif;

$color-primary-light: #dba786;
$color-primary-dark: #db847b;

$color-secondary: #db70b6;

$color-player-one: #65d7db;
$color-player-two: #99db91;

$color-white: #fff;
$color-black: #000;

$font-heading: 'Quando', serif;
$font-text: 'Judson', serif;
